{% extends 'layout/app.html.twig' %}

{% block title %}Settings{% endblock %}

{% block page_title %}
    <div class="flex justify-between items-center">
        <h1>Settings</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white p-6 rounded-lg shadow-md">
        {{ form_start(form) }}
        <div class="grid grid-cols-1 gap-6">
            {{ form_row(form.mailer_from_address) }}
        </div>
        <div class="mt-6">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Save Settings</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}