<IfModule mod_rewrite.c>
    RewriteEngine On

    # Determine the RewriteBase automatically and set it if not already set.
    # If your application is not in the DocumentRoot, uncomment and set the RewriteBase manually.
    # RewriteBase /

    # Redirect all requests to the front controller, unless it's a file or directory that exists.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>