<form method="post" action="{{ path('app_admin_battery_delete', {'id': battery.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta batería?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ battery.id) }}">
    <button class="text-red-600 hover:text-red-900">Eliminar</button>
</form>
