{% extends 'layout/app.html.twig' %}

{% block title %}Nuevo Tipo de Combustible{% endblock %}

{% block page_title %}Crear Nuevo Tipo de Combustible{% endblock %}

{% block content %}
    <div class="bg-white shadow-md rounded-lg p-6">
        {{ include('admin/fuel_type/_form.html.twig') }}
    </div>

    <a href="{{ path('app_admin_fuel_type_index') }}" class="text-blue-500 hover:text-blue-800 mt-4 inline-block">Volver a la lista</a>
{% endblock %}