<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invitación para unirte a Protección Civil de Vigo</title>
</head>
<body>
    <h1>¡Estás invitado!</h1>
    <p>Has sido invitado a unirte al equipo de Protección Civil de Vigo.</p>
    <p>Para completar tu registro, por favor haz clic en el siguiente enlace:</p>
    <a href="{{ url('app_register') }}">Registrarse ahora</a>
    <p>¡Gracias!</p>
</body>
</html>