<!DOCTYPE html>
<html lang="es" class="h-screen overflow-hidden m-0 p-0">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sistema de Gestión de Voluntarios{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://raw.githubusercontent.com/Carlos-casal/ssgv/main/public/images/logo.png" type="image/png">
        {# Eliminar Tailwind CDN y usar la versión compilada por Encore #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}bg-gray-50{% endblock %} antialiased m-0 p-0 overflow-hidden h-screen">
        {% block body %}{% endblock %}
    </body>
</html>