<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block page_title %}Sistema de Gestión de Voluntarios{% endblock %} - PC Vigo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://raw.githubusercontent.com/Carlos-casal/ssgv/main/public/images/logo.png" type="image/png">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}{% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
        <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
        {{ importmap('app') }}
    </head>
    <body class="bg-gray-50">
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>